* {
  padding: 0;
  margin: 0;
  font-family: Open sans;
  font-size: small;
}
#container {
  display: flex;
  width: 80%;
  padding: 1%;
  margin: auto;
  height: 40px;
  margin-top: 2rem;
}
#open {
  width: 110px;
}
#close {
  display: none;
  width: 110px;
}
#container > div:nth-child(1) {
  width: 20%;
  /* padding:0 30px; */

  align-items: center;
  text-align: center;
  justify-content: center;
  color: #0a0103;
}
#container > div:nth-child(2) {
  width: 80%;
  display: flex;
  align-items: end;
  text-align: center;
  justify-content: center;
  justify-content: space-around;
  margin-top: 0.3rem;
  margin-left: 25rem;
}
.img {
  width: 3rem;
  height: 1.5rem;
}
.mini_2 > div {
  display: flex;
  padding: 0%;
  width: auto;
  height: 60%;
  padding: 0.5%;
  font-weight: 550;
  text-align: center;
  align-items: center;
  text-align: center;
  justify-content: center;
}
.mini_2 > div:hover {
  color: #ed0331;
  background-color: #fffafb;
  text-align: center;
  cursor: pointer;
  align-items: center;
  text-align: center;
  justify-content: center;
  border-radius: 5px;
}
.courses1:hover {
  color: #ed0331;
  background-color: #fffafb;
  text-align: center;
  cursor: pointer;
}
.courses:hover {
  color: #ed0331;
  background-color: #fffafb;
  text-align: center;
  cursor: pointer;
}
.courses2 {
  align-items: center;
  color: #ed0331;
  background-color: #fffafb;
  text-align: center;
  cursor: pointer;
}
.chevron-open {
  position: relative;
  display: block;
  height: 10px;
  margin-top: 0.3rem;
}
.chevron-open::before,
.chevron-open::after {
  position: absolute;
  display: block;
  content: "";
  border: 7px solid transparent;
}
.chevron-open::before {
  top: 0;
  border-top-color: #0a0103;
}
.chevron-open::after {
  top: -3px;
  border-top-color: #fff;
}
.chevron-close {
  position: relative;
  display: block;
  height: 10px;
  margin-left: 1rem;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

.chevron-close::before,
.chevron-close::after {
  position: absolute;
  display: block;
  content: "";
  border: 7px solid transparent;
}
.chevron-close::before {
  top: 0;
  border-top-color: #0a0103;
}
.chevron-close::after {
  top: -3px;
  border-top-color: #fff;
}

#hover-click {
  display: none;
  font-weight: 550;
  width: 15rem;
  height: 15rem;
  padding: 2%;
  margin-left: 26rem;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px,
    rgb(209, 213, 219) 0px 0px 0px 1px inset;
  line-height: 2rem;
}
#sm {
  font-weight: 300;
}

#small-screen {
  display: none;
}
#menu-details {
  display: none;
  /* border:1px solid red */
}
.DivCenter {
  display: block;
  width: 40%;
  margin: auto;
  margin-top: 1rem;
  /* border: 1px solid red; */
  padding:2%
}
.flootingwidth {
  width: 250px;
}
.gap{
  margin-top:0.5rem
}
.White{
  background-color: rgba(198, 219, 238, 0.757);
}